<h2>Favorites</h2>

<div class="col-md-4">
  <% current_user.favorites.each do |favorite| %>
  <ul>
    <%= link_to Category.find_by_id(favorite.category_id).title, user_category_path(@user, favorite.category_id) %>
  </ul>
  <% end %>
</div>
