<h1> Options </h1>

<% @options.each do |option| %>
    <div class= "media">
      <div class="media-body">
        <h4 class="media-heading"?
          <%= link_to option.title, option %>
        </h4>
      </div>
    </div>
<% end %>
