<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We have mastered the art of indecisiveness.</h2>
                <hr class="light">
                <p class="text-faded">Let us choose 4 you!</p>
                  <p class="text-faded">
                    Picking something when there are so many options in the world is hard!
                    Sometimes you waste time! When you pick a category you can select a
                    specfic option from it or have us choose 4 you!
                  </p>
            </div>
        </div>
    </div>
</section>
<%= render 'creatives/services' %>
