<h1>Categories</h1>


<%= link_to "New Category", new_category_path(@category), class: 'btn btn-success' %>

<% @categories.each do |category| %>
    <div class= "media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to category.title, category %>
        </h4>
      </div>
    </div>
<% end %>
