<h3>Categories<%= link_to "New Category", new_category_path(@category), class: 'btn btn-success' %></h3>



<div class="col-lg-4 col-sm-6">
  <ul>
    <% @categories.each do |category| %>
    <div class= "media">
      <div class="media-body">
        <h4 class="media-heading">
          <li><%= link_to category.title, category %>
          <small> submitted <%= time_ago_in_words(category.created_at) %> ago by <%= category.user.email %> <br> </small></li>
        </h4>
      </div>
    </div>
  <% end %>
  </ul>
</div>
