<h1>Categories</h1>


<%= link_to "New Category", new_category_path(@category), class: 'btn btn-success' %>

<% @categories.each do |category| %>
    <div class= "media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to category.title, category %>
          <small> submitted <%= time_ago_in_words(category.created_at) %> ago by <%= category.user.email %> <br> </small>
        </h4>
      </div>
    </div>
<% end %>
